<img 
    {{ if id }}
        id="{{ id }}"
    {{ endif }}
    class="max-w-full object-cover {{ class }}"
    {{ if style_tag }}
        style="{{ style_tag }}"
    {{ endif }}
    loading="{{ loading ? loading : 'lazy'  }}"
    width="{{ w or "500" }}"
    height="{{ h or "500" }}"
    srcset="{{ glide:imagePath width="{{ w or "500" }}" height="{{ h or "500" }}" quality="{{ q or '70' }}" fit="crop_focal" format="{{ format or 'webp' }}" }} 1x, {{ glide:imagePath width="{{ w or "500" }}" height="{{ h or "500" }}" quality="{{ q or '60' }}" fit="crop_focal" format="{{ format or 'webp' }}" dpr="2" }} 2x"
    src="{{ glide:imagePath width="{{ w or "500" }}" height="{{ h or "500" }}" quality="{{ q or '70' }}" fit="crop_focal" format="{{ format or 'webp' }}" }}"
    alt="{{ imagePath:alt }}"
>