.carousel {
  
    @media (prefers-reduced-motion: no-preference) {
        & {
            scroll-behavior: smooth;
        }

    @container scroll-state(snapped: inline) {

        & li{
            pointer-events: auto !important;

            & > * {
            pointer-events: auto !important;
            }
        }
    }

    @container not scroll-state(snapped: inline) {

    & li {

        & .quote-wrapper{
            translate: 0 -5rem;
            opacity: 0%;
            transition-delay: 0s;
        }

        & .btn {
            background-color: var(--color-light-shade);
        }


        & .name{
            display: block;
            opacity: 100%;
            block-size: auto;
            block-size: calc-size(auto, size);
            translate: 0 0;
            transition-delay: 200ms;

            @starting-style{
                block-size: 0;
                translate: 0 5rem;
                opacity: 0%;
            }

        }
    }
}
}

}